.item-detail-container{
    background-color: #d7dadf !important;
    min-height: 100vh !important; 
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: calc(10px + 2vmin);
    color: rgb(185, 87, 87);
    .container{
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }