.item{
  padding: 0;
  .card{
    margin: 15px;
    .card-title {
      height: 50px;
    }
    .btn{
      width: 80%;
      justify-content: center;
      background-color: transparent;
      color: #0098d3;
      border-color: #0098d3;
      border-radius: 50px;
      &:hover,
      &:active,
      &:focus{
        background-color: #0098d3;
        color: #fff;
        border-color: #0098d3;
        box-shadow: none !important;
      }
    }
  }
}

// .center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 200px;
//   border: 3px solid green;
// }
