.nav-bar{  
  &__root {
    flex-grow: 1px;
  }
  &__menuButton {
    margin-right: 8px;
  }
  &__title {
    flex-grow: 1px;
    padding-right: 20px;
  }
  &__toolbarButtons {
    margin-left: auto !important;
  }
}

  
  